@import '~@angular/material/theming';

@mixin login-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  #login-div {
    background-color: mat-color($primary);
  }

  #login {
    background-color: mat-color($accent);
  }

  a {
    color: mat-color($primary);
  }
}
